/Report_JCT_Intro_1.0.aux
/Report_JCT_Intro_1.0.log
/Report_JCT_Intro_1.0.out
/Report_JCT_Intro_1.0.toc
/Report_JCT_Intro_1.0Notes.bib
/Report_JCT_Intro_1.0.synctex.gz
/ACA/Motor1_ert_rtw/*.o
/ACA/Motor1_ert_rtw/*.mk
/ACA/Project.slx.autosave
/ACA/slprj/ert/Motor1/tmwinternal/CompileInfo.xml
/ACA/slprj/ert/Motor1/tmwinternal/binfo.mat
/ACA/slprj/ert/Motor1/tmwinternal/minfo.mat
/ACA/slprj/modeladvisor/Motor1/ModelAdvisorData
